@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    background-color: #5a5757;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas {
    background-color: #111;
}


.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
    
}

.menu-screem {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: darkred;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.ranking-score {
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
    width: 90%;
}

.ranking--value {
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    width: 12%;
    flex-direction: column;
    align-items: center;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}